.amenities {
    margin-top: 40px;
}

.amenities h2,
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul,
.reviews ul {
    list-style: none;
    padding: 0;
}

.amenities li,
.reviews li {
    font-size: 14px;
    margin-bottom: 10px;
}

.reviews {
    margin-top: 40px;
}

.reviews h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.reviews p {
    font-size: 12px;
}

